@charset "UTF-8";

#wrap{
	width:1200px;
/* 	height:800px; */
	margin:auto;
}

header{
	height:70px;
	background-color:#dddddd;
}

/* .contents{
	height:500px;
} */

.contents > .join-box{
/* 	height:500px; */
	width:350px;
}

.input-box{
	width:650px;
}
footer{
	height:50px;
	background-color:#dddddd;
}

.list-box{
	width:900px;
}
